<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hover Expand UI</title>
  
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <h1 class="fluid">Elige la funcion</h1>
  <p>
    
  </p>
  <ul >
    <li>
      <article>
        <h3>Distribucion</h3>
        <p>
          aaaaaaaaaaaaaaaaa
        </p>
        <a href="/distribucion"><span>Distribucion</span></a>
        <img src="./img/distribucion.png" alt="" />
      </article>
    </li>
    
      
    



    <li class="guardia-finde">  
  <article>
    <h3>Guardia de finde</h3>
    <p>
      Accedé a la herramienta para gestionar las guardias del fin de semana.
    </p>
    <a href="/guardia"><span>Guardia Finde</span></a>

    <img src="./img/guardiafinde.png" alt="Guardia Finde" />
  </article>
</li>

<li class="guardia-finde">  
  <article>
    <h3>Cronograma</h3>
    <p>
      Accedé a la herramienta para gestionar el cronograma.
    </p>
    <a href="/cronograma"><span>Cronograma</span></a>

    <img src="./img/cronograma.png" alt="cronograma" />
  </article>
</li>
  </ul>
  
 


</body>
</html>
